.form {
  margin-top: 49px;
  /* 
    text align center was moved into the form class so
    the button and the title will not need to have it.
  */
  text-align: center;
}

.form__title {
  font-size: 36px;
  margin-bottom: 49px;
  margin-top: 0;
}

.form__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 84%;
  margin-top: 39px;
}

.form__label {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 23px;
}

.form__label--error {
  color: #ff0000;
}


.form__input {
  border: none;
  border-bottom: 1px solid #021A3F;
  font-size: 23px;
  line-height: 27px;
  outline: none;
  width: 100%;
}

.form__input--error {
  border-bottom: 1px solid #ff0000;
  color: #ff0000;
}

.form__button {
  background-color: #DCEAFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 28px;
  margin-top: 39px;
  outline: none;
  padding: 22px 113px;
  transition: background-color 0.3s ease-out;
}

.form__button:hover {
  /* background-color: #a9cbff; -3*/
  background-color: #98c1ff;
  /* background-color: #87b7ff; -5*/ 
}

.form__button--delete {
  background-color: #FF3030;
  color: #DCEAFF;
  display: block;
  margin: 13px auto 0 auto;
}

.form__button--delete:hover {
  background-color: #eb0000;
}
