/*
  =====================================================================
  INLINE FORM
  =====================================================================
*/

.form--inline {
  margin: 49px 0 37px 0;
  text-align: center;
}

.form__group--inline {
  display: flex;
  align-items: bottom;
  width: 100%;
}

.form__label--inline {
  font-size: 18px;
  display: flex;
  line-height: 21px;
  width: 50%;
  margin: 0 50px 0 10px;
}

.form__label--inline-error {
  color: #ff0000;
}

.form__input--inline {
  border: none;
  border-bottom: 1px solid #021A3F;
  font-size: 1em;
  outline: none;
  width: 100%;
}

.form__input--inline-error {
  border-bottom: 1px solid #ff0000;
  color: #ff0000;
}

.form__button--inline {
  background-color: #DCEAFF;
  border: none;
  border-radius: 10px;
  color: #021A3F;
  font-size: 1em;
  letter-spacing: 1px;
  outline: none;
  padding: 16px 30px;
}

@media only screen and (min-width: 600px) {
  .form__label--inline {
    width: 30%;
  }
}