.items {
  margin: 0 33px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.item__name,
.item__amount {
  font-size: 1.5em;
  margin: 0;
}

.item__link,
.item__amount {
  color: #021A3F;
}

.item__link {
  text-decoration: none;
  word-break: break-word;
}

.item__link:hover {
  text-decoration: underline;
}

.item__actions {
  display: flex;
  align-items: center;
}

.item__link-icon {
  height: 24px;
}

.item__icon {
  cursor: pointer;
  margin-right: 30px;
}

.text {
  margin-top: 30px;
  text-align: center;
}

.rooms {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.room {
  background-color: #021A3F;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 10px;
  width: 200px;
  height: 200px;
  overflow: auto;
}

.room__text {
  height: 100%;
  margin: 0;
  width: 100%;
  text-align: center;
}

.room__link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  width: 100%;
  word-break: break-word;
}

.color--red {
  color: #FF3030;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .items {
    width: 50%;
    margin: 0 auto;
  }
}