.items {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.room {

  background-color: #021A3F;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 10px;
  padding: 5px;

  width: 200px;
  height: 200px;
  overflow: auto;
}

.room__text {
  height: 100%;
  margin: 0;
  width: 100%;
  text-align: center;
}

.room__link {
  align-items: center;
  color: white;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  width: 100%;
  word-break: break-word;
}
